# SysReporter configuration
#
# Available settings and defaults:
# SERVERNAME="$(hostname)"
# EMAIL_REPORT=true
# EMAIL_TO=""
# EMAIL_FROM="root@$SERVERNAME"
# EMAIL_SUBJECT="Server Report - $SERVERNAME"
# TITLE="Server Report for $SERVERNAME on $DATENOW"
# REPORTSDIR="$DIR/reports.d"
# TEMPDIR="$DIR/tmp"
# FILTER=.* # Note, no double quotes
# LOGFILE="$TEMPDIR/compiledlog.log"
# TEMPMAIL="$TEMPDIR/mail"
#
# Syntax:
# export SETTING_NAME="value"

## Email addresses to send report to, separated by comma
export EMAIL_TO=""

## Email address to use a from address
export EMAIL_FROM=""
