# SysReporter configuration
#
# Available settings and defaults:
# SERVERNAME="$(hostname)"
# EMAIL_REPORT=true # set to false if EMAIL_TO is empty
# EMAIL_TO=""
# EMAIL_FROM="root@$SERVERNAME"
# EMAIL_SUBJECT="Server Report - $SERVERNAME"
# TITLE="Server Report for $SERVERNAME on $DATENOW"
# REPORTSDIR="$DIR/reports.d"
# TEMPDIR="$DIR/tmp"
# FILTER=* # Note, no double quotes
#
# The location for a temporary file used to aggregate reports.
# This file is truncated at the beginning of each run
# LOGFILE="$TEMPDIR/compiledlog.log"
#
# This file is used as a temporary file used to format the email message
# TEMPMAIL="$TEMPDIR/mail"
#
# This is the number of seconds to wait for a report to finish before killing it
# CMDTIMEOUT=20
#
# Syntax:
# SETTING_NAME="value"

## Email addresses to send report to, separated by comma
EMAIL_TO=""

## Email address to use a from address
EMAIL_FROM=""
